<h1 style="text-align:center">LING 270 — Language, Technology and Society</h1>
<nav role="navigation">
  <ul>
    <li><a href="/" class="dropdown-toggle" data-toggle="dropdown" {% if page.url == "/" %}class="active"{% endif %}>Syllabus</a></li>
    <li><a href="/schedule" {% if page.url == "/schedule" %}class="active"{% endif %}>Schedule</a></li>
    <li><a href="https://piazza.com/illinois/spring2022/ling270" {% if page.url == "/projects" %}class="active"{% endif %}>Discussion</a></li>
    <li><a href="https://learn.illinois.edu/course/view.php?id=66343" {% if page.url == "/projects" %}class="active"{% endif %}>Moodle</a></li>
    <li><a href="https://www.prairielearn.org/pl/course_instance/129040" {% if page.url == "/projects" %}class="active"{% endif %}>Assessment</a></li>
  </ul>
</nav>
